<div class="center jumbotron">
  <h1>Welcome to the Pluralsight Code Challenge App</h1>

  <h2>
    This is the home page for the Pluralsight Assessments Team Code
    Challenge. 
    <br>Coded for your enjoyment by 
    <a href="mailto:matthew.krasnick@gmail.com?Subject=Cool%20app" target="_top">Matthew Krasnick</a>
    <p> Press the big blue button to get started! </p>
   </h2>

  <%= link_to "View Questions Now!", questions_path, class: "btn btn-lg btn-primary" %>
</div>



            