// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#app {
  margin:3em;
  padding:1em;
  background:#eee;
  border: 2px solid #333;

  h2 {
    font-size: 2.2em;
    letter-spacing: -1px;
    margin-bottom: 12px;
    text-align: left;
    font-weight: normal;
    margin-left:0.5em;
    }

    .float_right {
      padding: 1.75em 1.25em;
      float: right;
    }
}

.questions {
  .question {
      border-radius: 15px;
      border:1px solid #666;
      padding: 0.10em 1em 1em 1em;
      margin-top:0.5em;
      &:hover {
        background-color: lightblue;
        a {
          visibility: visible ;
        } 
      }
    a {
      visibility: hidden ;
    }
    button {
      color: #fff;
      background:#00BFFF;
      box-shadow:6px 6px black;
      outline:none;
      border-radius: 15px;
      border:1px solid #666;
      padding: 0.5em 1em;
      margin-right:0.5em;
      
      &:hover {
        background-color: #0000CD;
      }
      &:active {
        background-color: #417cb8;
        box-shadow: 0 5px #27496d;
        transform: translateY(5px);
      }
      &.correct {
        background:#33ff33;
        color: black;
      }
      &.wrong {
        background:#ff0033;
      }
    }
 
  }
}

